/**
*一些预置的色彩。 
*/
$deepest0:#1f271b;
$deeper0:#0b4f6c;
$normal0:#145c9e;
$lighter0:#cbb9a8;
$lightest0:#dcc7be;

$deepest1:#36688d;
$deeper1:#bda589;
$normal1:#f18904;
$lighter1:#f49f05;
$lightest1:#f3cd05;

$deepest2:#282726;
$deeper2:#563838;
$normal2:#a7414a;
$lighter2:#a37c27;
$lightest2:#6a8a82;

$deepest3:#a79674;
$deeper3:#0444bf;
$normal3:#0584f2;
$lighter3:#0aaff1;
$lightest3:#edf259;

$deepest4:#6465a5;
$deeper4:#6975a6;
$normal4:#f05837;
$lighter4:#f28a30;
$lightest4:#f3e96b;

$deepest5:#583e2e;
$deeper5:#595775;
$normal5:#bf988f;
$lighter5:#aba6bf;
$lightest5:#f1e0d6;

$deepest6:#192e5b;
$deeper6:#00743f;
$normal6:#1d65a6;
$lighter6:#f2a104;
$lightest6:#72a2c0;

$deepest7:#040c0e;
$deeper7:#132226;
$normal7:#525b56;
$lighter7:#be9063;
$lightest7:#a4978e;

$deepest8:#93a806;
$deeper8:#bed905;
$normal8:#de8cf0;
$lighter8:#daa2da;
$lightest8:#dbb4da;

$deepest9:#16235a;
$deeper9:#2a3457;
$normal9:#888c46;
$lighter9:#4a4abf;
$lightest9:#f2eaed;

$deepest10:#5c4a72;
$deeper10:#a3586d;
$normal10:#f46a4e;
$lighter10:#f4874b;
$lightest10:#f3b05a;

$deepest11:#bf9d7a;
$deeper11:#80add7;
$normal11:#0abda0;
$lighter11:#d4dca9;
$lightest11:#ebf2ea;

$deepest12:#8f715b;
$deeper12:#c0334d;
$normal12:#f1931b;
$lighter12:#d6618f;
$lightest12:#f3d4a0;

$deepest13:#270101;
$deeper13:#763f02;
$normal13:#720017;
$lighter13:#d9ac2a;
$lightest13:#d8d583;

$deepest14:#04060f;
$deeper14:#03353e;
$normal14:#c1403d;
$lighter14:#0294a5;
$lightest14:#a79c93;

$deepest15:#752333;
$deeper15:#05328e;
$normal15:#043d8c;
$lighter15:#8e5c1d;
$lightest15:#0438a3;

$deepest16:#1f1641;
$deeper16:#012172;
$normal16:#0486db;
$lighter16:#05acd3;
$lightest16:#bbbf95;

$deepest17:#212624;
$deeper17:#2e303e;
$normal17:#54678f;
$lighter17:#6c6b74;
$lightest17:#9499be;

$deepest18:#212027;
$deeper18:#561e18;
$normal18:#594346;
$lighter18:#8d2f23;
$lightest18:#f22f08;

$deepest19:#02080f;
$deeper19:#522e75;
$normal19:#714e3d;
$lighter19:#52591f;
$lightest19:#a3765d;

$deepest20:#1b1924;
$deeper20:#3f3232;
$normal20:#74593d;
$lighter20:#b5c1b4;
$lightest20:#dcd9c6;

$deepest21:#824ca7;
$deeper21:#d50b53;
$normal21:#a882c1;
$lighter21:#b9c406;
$lightest21:#f4f3f4;

$deepest22:#272424;
$deeper22:#585a56;
$normal22:#81a3a7;
$lighter22:#c2d3da;
$lightest22:#f1f3f2;

$deepest23:#423a01;
$deeper23:#704404;
$normal23:#776b04;
$lighter23:#f4d993;
$lightest23:#f2ece1;

$deepest24:#1c2c58;
$deeper24:#415939;
$normal24:#8a5d59;
$lighter24:#f3efca;
$lightest24:#f4f2b1;

$deepest25:#777ca8;
$deeper25:#bb1924;
$normal25:#ee6c81;
$lighter25:#f092a5;
$lightest25:#afbadc;

$deepest26:#003d73;
$deeper26:#0878a4;
$normal26:#c05640;
$lighter26:#1ecfd6;
$lightest26:#edd170;

$deepest27:#5c3d46;
$deeper27:#5c868d;
$normal27:#99bfaa;
$lighter27:#c8d6ca;
$lightest27:#e7f5de;

$deepest28:#02231c;
$deeper28:#107050;
$normal28:#4dd8ad;
$lighter28:#55d9c0;
$lightest28:#c7f6ec;

$deepest29:#8f4f06;
$deeper29:#728ca3;
$normal29:#f3e4c6;
$lighter29:#73c0f4;
$lightest29:#e6eff3;

$deepest30:#07000e;
$deeper30:#8a2c02;
$normal30:#d75404;
$lighter30:#f08b33;
$lightest30:#eecc8d;

$deepest31:#121f40;
$deeper31:#182657;
$normal31:#8d541e;
$lighter31:#bd3e85;
$lightest31:#d59b2d;

$deepest32:#6b7436;
$deeper32:#7b8937;
$normal32:#d72f01;
$lighter32:#f09e8c;
$lightest32:#f4d9c1;

$deepest33:#23345c;
$deeper33:#d75b66;
$normal33:#bd8a44;
$lighter33:#bfafa0;
$lightest33:#f1ba48;

$deepest34:#582a20;
$deeper34:#be7052;
$normal34:#9499a6;
$lighter34:#f2c083;
$lightest34:#f1ded1;

$deepest35:#04030c;
$deeper35:#383140;
$normal35:#8a8604;
$lighter35:#cac7d7;
$lightest35:#f4ed71;

$deepest36:#0d050e;
$deeper36:#2b193e;
$normal36:#8d2d56;
$lighter36:#a3445d;
$lightest36:#d53c3c;

$deepest37:#24150e;
$deeper37:#3f2a1d;
$normal37:#8e6248;
$lighter37:#8c7462;
$lightest37:#f2ebe9;

$deepest38:#10000c;
$deeper38:#515b51;
$normal38:#8c7547;
$lighter38:#efa747;
$lightest38:#dac6ac;

$deepest39:#65734b;
$deeper39:#f03625;
$normal39:#f1445b;
$lighter39:#94a453;
$lightest39:#d9c3b1;

$deepest40:#701b05;
$deeper40:#a67b04;
$normal40:#c59cdb;
$lighter40:#dfd0f1;
$lightest40:#f3eed6;

$deepest41:#000d29;
$deeper41:#118c8b;
$normal41:#bca18d;
$lighter41:#f2746b;
$lightest41:#f14d49;

$deepest42:#715e4e;
$deeper42:#52733b;
$normal42:#818a6f;
$lighter42:#84a45a;
$lightest42:#e4ebf2;

$deepest43:#14325c;
$deeper43:#a53a3b;
$normal43:#5398d9;
$lighter43:#d96b0c;
$lightest43:#f4e3b1;

$deepest44:#5a4d4c;
$deeper44:#8a8683;
$normal44:#328daa;
$lighter44:#8ed3f4;
$lightest44:#e4ebf2;

$deepest45:#704307;
$deeper45:#5aa382;
$normal45:#bda728;
$lighter45:#f7b178;
$lightest45:#78d6ac;

$deepest46:#8a140e;
$deeper46:#51a2d9;
$normal46:#53c0f0;
$lighter46:#b9e5f3;
$lightest46:#e0e8f0;

$deepest47:#8b281f;
$deeper47:#d57030;
$normal47:#9ba747;
$lighter47:#f29d4b;
$lightest47:#d9dcd8;

$deepest48:#be3b45;
$deeper48:#be302b;
$normal48:#a58e87;
$lighter48:#f07995;
$lightest48:#f3f1f3;

$deepest49:#253f5b;
$deeper49:#74412b;
$normal49:#4f728e;
$lighter49:#be8260;
$lightest49:#d7b095;

$deepest50:#4e7ba7;
$deeper50:#a7907f;
$normal50:#d28f1b;
$lighter50:#b5b3be;
$lightest50:#d3d0da;


